test/testFlow.json
[
    {
        "id": "420e8fe5.037f1",
        "type": "tab",
        "label": "array permutations",
        "disabled": false,
        "info": ""
    },
    {
        "id": "78e605dc.14d8ac",
        "type": "Array Permutations",
        "z": "420e8fe5.037f1",
        "name": "loop size 2",
        "action": "Loop",
        "arrayProperty": "msg.payload",
        "setSize": "2",
        "unique": "false",
        "outputs": 3,
        "x": 290,
        "y": 120,
        "wires": [
            [
                "f1222f3b.1d25b"
            ],
            [
                "68c89de7.f6e5c4"
            ],
            [
                "c9ec721c.87b19"
            ]
        ]
    },
    {
        "id": "bf22db0b.d575d8",
        "type": "inject",
        "z": "420e8fe5.037f1",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 80,
        "y": 100,
        "wires": [
            [
                "78e605dc.14d8ac"
            ]
        ]
    },
    {
        "id": "c9ec721c.87b19",
        "type": "Monitor Flow",
        "z": "420e8fe5.037f1",
        "name": "",
        "x": 280,
        "y": 200,
        "wires": [
            [
                "78e605dc.14d8ac",
                "6f89235f.330c7c"
            ]
        ]
    },
    {
        "id": "876f4fe3.bc4bf",
        "type": "Monitor Flow",
        "z": "420e8fe5.037f1",
        "name": "",
        "x": 470,
        "y": 60,
        "wires": [
            [
                "6f89235f.330c7c"
            ]
        ]
    },
    {
        "id": "47b74613.2101c8",
        "type": "inject",
        "z": "420e8fe5.037f1",
        "name": "",
        "topic": "",
        "payload": "[1,2,3,4,5]",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 80,
        "y": 160,
        "wires": [
            [
                "78e605dc.14d8ac"
            ]
        ]
    },
    {
        "id": "6f89235f.330c7c",
        "type": "debug",
        "z": "420e8fe5.037f1",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 730,
        "y": 200,
        "wires": []
    },
    {
        "id": "947a5178.f3c61",
        "type": "Array Permutations",
        "z": "420e8fe5.037f1",
        "name": "Messages",
        "action": "Messages",
        "arrayProperty": "",
        "setSize": "2",
        "unique": "false",
        "outputs": 2,
        "x": 250,
        "y": 40,
        "wires": [
            [
                "876f4fe3.bc4bf"
            ],
            []
        ]
    },
    {
        "id": "3631d19c.4f8aee",
        "type": "inject",
        "z": "420e8fe5.037f1",
        "name": "",
        "topic": "",
        "payload": "[1,2,3,4,5]",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 80,
        "y": 40,
        "wires": [
            [
                "947a5178.f3c61"
            ]
        ]
    },
    {
        "id": "1bbde774.d0af89",
        "type": "Array Permutations",
        "z": "420e8fe5.037f1",
        "name": "unique set size 1",
        "action": "Messages",
        "arrayProperty": "msg.payload",
        "setSize": "1",
        "unique": "true",
        "outputs": 2,
        "x": 290,
        "y": 300,
        "wires": [
            [
                "ed8eeb8d.9bbfe8"
            ],
            []
        ]
    },
    {
        "id": "30f7be3b.c64462",
        "type": "inject",
        "z": "420e8fe5.037f1",
        "name": "",
        "topic": "",
        "payload": "[1,2,3,4,5]",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 80,
        "y": 300,
        "wires": [
            [
                "1bbde774.d0af89"
            ]
        ]
    },
    {
        "id": "ed8eeb8d.9bbfe8",
        "type": "Monitor Flow",
        "z": "420e8fe5.037f1",
        "name": "",
        "x": 510,
        "y": 300,
        "wires": [
            [
                "6f89235f.330c7c"
            ]
        ]
    },
    {
        "id": "521f931f.7b30bc",
        "type": "Array Permutations",
        "z": "420e8fe5.037f1",
        "name": "unique set size 2",
        "action": "Messages",
        "arrayProperty": "msg.payload",
        "setSize": "2",
        "unique": "true",
        "outputs": 2,
        "x": 290,
        "y": 360,
        "wires": [
            [
                "ed8eeb8d.9bbfe8"
            ],
            []
        ]
    },
    {
        "id": "623c09bb.f821d8",
        "type": "Array Permutations",
        "z": "420e8fe5.037f1",
        "name": "unique set size 3",
        "action": "Messages",
        "arrayProperty": "msg.payload",
        "setSize": "3",
        "unique": "true",
        "outputs": 2,
        "x": 290,
        "y": 420,
        "wires": [
            [
                "ed8eeb8d.9bbfe8"
            ],
            []
        ]
    },
    {
        "id": "bf22e78.9767818",
        "type": "inject",
        "z": "420e8fe5.037f1",
        "name": "",
        "topic": "",
        "payload": "[1,2,3,4,5]",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 80,
        "y": 420,
        "wires": [
            [
                "623c09bb.f821d8"
            ]
        ]
    },
    {
        "id": "2c095e8c.6291e2",
        "type": "inject",
        "z": "420e8fe5.037f1",
        "name": "",
        "topic": "",
        "payload": "[1,2,3,4,5]",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 80,
        "y": 360,
        "wires": [
            [
                "521f931f.7b30bc"
            ]
        ]
    },
    {
        "id": "a532eb05.eddd28",
        "type": "Array Permutations",
        "z": "420e8fe5.037f1",
        "name": "not unique set size 1",
        "action": "Messages",
        "arrayProperty": "msg.payload",
        "setSize": "1",
        "unique": "false",
        "outputs": 2,
        "x": 300,
        "y": 460,
        "wires": [
            [
                "ed8eeb8d.9bbfe8"
            ],
            []
        ]
    },
    {
        "id": "27c4675e.d76858",
        "type": "inject",
        "z": "420e8fe5.037f1",
        "name": "",
        "topic": "",
        "payload": "[1,2,3,4,5]",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 80,
        "y": 460,
        "wires": [
            [
                "a532eb05.eddd28"
            ]
        ]
    },
    {
        "id": "90f1518.eaa15b",
        "type": "Array Permutations",
        "z": "420e8fe5.037f1",
        "name": "not unique set size 2",
        "action": "Messages",
        "arrayProperty": "msg.payload",
        "setSize": "2",
        "unique": "false",
        "outputs": 2,
        "x": 300,
        "y": 520,
        "wires": [
            [
                "ed8eeb8d.9bbfe8"
            ],
            []
        ]
    },
    {
        "id": "7bdc02aa.b2f2fc",
        "type": "Array Permutations",
        "z": "420e8fe5.037f1",
        "name": "not unique set size 3",
        "action": "Messages",
        "arrayProperty": "msg.payload",
        "setSize": "3",
        "unique": "false",
        "outputs": 2,
        "x": 300,
        "y": 580,
        "wires": [
            [
                "ed8eeb8d.9bbfe8"
            ],
            []
        ]
    },
    {
        "id": "b7e1a38a.ad38e",
        "type": "inject",
        "z": "420e8fe5.037f1",
        "name": "",
        "topic": "",
        "payload": "[1,2,3,4,5]",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 80,
        "y": 580,
        "wires": [
            [
                "7bdc02aa.b2f2fc"
            ]
        ]
    },
    {
        "id": "74b09d71.a60424",
        "type": "inject",
        "z": "420e8fe5.037f1",
        "name": "",
        "topic": "",
        "payload": "[1,2,3,4,5]",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 80,
        "y": 520,
        "wires": [
            [
                "90f1518.eaa15b"
            ]
        ]
    },
    {
        "id": "fdf2487d.483c18",
        "type": "inject",
        "z": "420e8fe5.037f1",
        "name": "",
        "topic": "",
        "payload": "[1,2,3,4,5]",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 80,
        "y": 720,
        "wires": [
            [
                "2242f156.de7e8e"
            ]
        ]
    },
    {
        "id": "2242f156.de7e8e",
        "type": "Array Permutations",
        "z": "420e8fe5.037f1",
        "name": "loop size 1",
        "action": "Loop",
        "arrayProperty": "msg.payload",
        "setSize": "1",
        "unique": "false",
        "outputs": 3,
        "x": 270,
        "y": 680,
        "wires": [
            [
                "f6096c34.2b7f4"
            ],
            [],
            [
                "3b4281ca.a96bde"
            ]
        ]
    },
    {
        "id": "3b4281ca.a96bde",
        "type": "Monitor Flow",
        "z": "420e8fe5.037f1",
        "name": "",
        "x": 260,
        "y": 760,
        "wires": [
            [
                "2242f156.de7e8e",
                "d75b5f9c.deebb"
            ]
        ]
    },
    {
        "id": "d75b5f9c.deebb",
        "type": "debug",
        "z": "420e8fe5.037f1",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 630,
        "y": 780,
        "wires": []
    },
    {
        "id": "f6096c34.2b7f4",
        "type": "Monitor Flow",
        "z": "420e8fe5.037f1",
        "name": "",
        "x": 470,
        "y": 680,
        "wires": [
            [
                "d75b5f9c.deebb"
            ]
        ]
    },
    {
        "id": "1675e66f.3914ba",
        "type": "inject",
        "z": "420e8fe5.037f1",
        "name": "",
        "topic": "",
        "payload": "[1,2,3,4,5]",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 80,
        "y": 880,
        "wires": [
            [
                "28b5fc6.ecbfe04"
            ]
        ]
    },
    {
        "id": "28b5fc6.ecbfe04",
        "type": "Array Permutations",
        "z": "420e8fe5.037f1",
        "name": "loop size 3",
        "action": "Loop",
        "arrayProperty": "msg.payload",
        "setSize": "3",
        "unique": "false",
        "outputs": 3,
        "x": 270,
        "y": 840,
        "wires": [
            [
                "70ad7437.19fc7c"
            ],
            [],
            [
                "f2e74dcc.4114e"
            ]
        ]
    },
    {
        "id": "f2e74dcc.4114e",
        "type": "Monitor Flow",
        "z": "420e8fe5.037f1",
        "name": "",
        "x": 260,
        "y": 920,
        "wires": [
            [
                "28b5fc6.ecbfe04",
                "990f58d3.2d5648"
            ]
        ]
    },
    {
        "id": "990f58d3.2d5648",
        "type": "debug",
        "z": "420e8fe5.037f1",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 630,
        "y": 940,
        "wires": []
    },
    {
        "id": "70ad7437.19fc7c",
        "type": "Monitor Flow",
        "z": "420e8fe5.037f1",
        "name": "",
        "x": 470,
        "y": 840,
        "wires": [
            [
                "990f58d3.2d5648"
            ]
        ]
    },
    {
        "id": "82c2dad7.3e4318",
        "type": "inject",
        "z": "420e8fe5.037f1",
        "name": "",
        "topic": "",
        "payload": "[1,2,3,4,5]",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 80,
        "y": 1060,
        "wires": [
            [
                "4444a76d.129c88"
            ]
        ]
    },
    {
        "id": "4444a76d.129c88",
        "type": "Array Permutations",
        "z": "420e8fe5.037f1",
        "name": "loop size 3 unique",
        "action": "Loop",
        "arrayProperty": "msg.payload",
        "setSize": "3",
        "unique": "true",
        "outputs": 3,
        "x": 290,
        "y": 1000,
        "wires": [
            [
                "5606370e.386dd8"
            ],
            [],
            [
                "e756c243.ba629"
            ]
        ]
    },
    {
        "id": "e756c243.ba629",
        "type": "Monitor Flow",
        "z": "420e8fe5.037f1",
        "name": "",
        "x": 260,
        "y": 1100,
        "wires": [
            [
                "4444a76d.129c88",
                "3797a729.d38fb8"
            ]
        ]
    },
    {
        "id": "3797a729.d38fb8",
        "type": "debug",
        "z": "420e8fe5.037f1",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 630,
        "y": 1120,
        "wires": []
    },
    {
        "id": "5606370e.386dd8",
        "type": "Monitor Flow",
        "z": "420e8fe5.037f1",
        "name": "",
        "x": 510,
        "y": 1000,
        "wires": [
            [
                "3797a729.d38fb8"
            ]
        ]
    },
    {
        "id": "68c89de7.f6e5c4",
        "type": "debug",
        "z": "420e8fe5.037f1",
        "name": "error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 710,
        "y": 140,
        "wires": []
    },
    {
        "id": "f1222f3b.1d25b",
        "type": "debug",
        "z": "420e8fe5.037f1",
        "name": "ok",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 710,
        "y": 100,
        "wires": []
    },
    {
        "id": "2327c77.6798538",
        "type": "inject",
        "z": "420e8fe5.037f1",
        "name": "",
        "topic": "",
        "payload": "[1]",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 70,
        "y": 200,
        "wires": [
            [
                "78e605dc.14d8ac"
            ]
        ]
    }
]